< [GMIT Data Analytics](https://web.archive.org/web/20201029063153/https://www.gmit.ie/computer-science-and-applied-physics/higher-diploma-science-computing-data-analytics-ict) | [Table of Contents](https://github.com/E6985) | [README](https://github.com/E6985/fda-tasks/blob/master/README.md) >

<img src="img/gmit.png" />

## pandas - iris dataset
***

- three types of iris flower - versicolor - setosa - virginica [2.5]

- on the first colour image - pointing out - sepal - petal [2.5]

<img src="img/iris.png" />

- iris dataset - very famous dataset created by - Ronald Fisher - who is one of the grandfathers of data analytics and statistics - and he created a dataset with one-hundred-fifty - rows - five different - columns - and its all to do with iris flowers - three different types - and out of one-hundred-fifty rows - theres fifty rows to do with versicolor - fifty rows to do with setosa - fifty rows to do with virginica [2.5]

- using the dataset to show you how pandas works - so we have used in a real dataset - and we will do be doing a few common pandas commands - not going to go through everything with pandas [2.5]

- iris dataset - university of california at irvine - they have a machine learning repository - datasets that are commonly used in machine learning - and machine learning being sort of a branch of data analysis or a sister kind of area of research [2.5]

- going through a workbook - analyse the iris dataset - bare bones analysis through the package - pandas [2.5]

In [1]:
import pandas as pd

- technically just a text file - the first row is a header row - sepal_length - sepal_width - petal_length - petal_width - species - and those five little bits of text or strings are separated by commas - and every line after that has a first value - which seems to have a decimal point - so we might call it a float value - and then a comma - then another float value - then another comma - and yet another float value - and yet another comma - and another float value - then a comma - and then finally - it has a string of characters - so on the first data row here - setosa - if scroll down further in the file - you will see that the setosa is turned into versicolor - and then versicolor becomes virginica at the bottom [2.5]

- so this is Ronald Fishers dataset - its the iris dataset - found just online - somebody has a github repository - where they have this iris dataset uploaded - and i did not do too much investigation to make sure that this is exactly as it should be - they have added the header row - which you typically do not find in the iris dataset online - you will typically find the names of the columns in a separate file to the actual data after the first line - header is included - just taken the one that i found online that has the header row included because it makes my life a little bit easier [2.5]

```
https://raw.githubusercontent.com/uiuc-cse/data-fa14/gh-pages/data/iris.csv
```

- so theres a header row at the top - 150 rows of data - five values in each row - numbers with decimal places - and then a string at the end - everything separated by commas - 50 setosa rows - 50 virginica rows - 50 versicolor rows [2.5]

- so thats the file - and so i can tell pandas to just take this url from wherever this file is available online - and i can say - pandas read the csv file at this url - and it goes straight in and finds the file - downloads it temporarily - and turns it into what we call - DataFrame - so typically - examples online using pandas - will use - name - df - as the name for their dataset that they are analysing in pandas [2.5]

- name - df - DataFrame - main data structure that pandas uses in the background - so a DataFrame - you can think of it as just as a two dimensional array - and its broken up into columns - where each column can have its own distinct type - so in our case - we have five columns in our dataset - the first four are floating point value columns - those columns contain numbers that have decimal places in them - and the fifth column has strings in it - setosa - versicolour - virginica [2.5]

- being displayed nicely here - because pandas knows how to display things nicely when you are using jupiter - so jupiter and pandas sort of know about each other - when you ask - can i see the - DataFrame - name - df - in jupiter - if - df - is a pandas DataFrame - jupiter will display as a little kind of html style table - where the column names are at the top - then you have your data rows underneath - and it will do a little bit of ellipsis - watch out there - as i scroll down - it does not show me every single row in the DataFrame - because there are 150 of them [2.5]

- why theres an extra sort of column - you can probably guess - pandas gives you a little index column alongside the other columns - which is a way of identifying each of the rows - so currently - pandas is using the numbers - starting at zero - all the way up to 149 - as little names for each of the rows in the file [2.5]

In [2]:
# package pandas - subpackage io - module parsers - function read_csv - call
df=pd.read_csv("https://raw.githubusercontent.com/uiuc-cse/data-fa14/gh-pages/data/iris.csv")

- DataFrame - basically a data structure - two dimensional array - you can think of it like an excel spreadsheet - or a database table - or anything like that - its literally just a very fast data structure for looking at two dimensional datasets - where you have rows and columns - and every column might have a specific type - a column might be a number - another column might be a number - another column might be a string - another column might be a date - or a time or whatever - and pandas will figure all of that out from the dataset - and try and load it in as best as it can [2.5]

- opening up the csv file in my browser - this is literally the csv file - this is theres no extra data in this file - suggesting - theres no sort of styling - theres no information about any of the fields here - this is literally just a text file - and the difference between a csv file and an excel file - for instance - excel typically stores a lot of information about the dataset along with the dataset - so excel might store information - like the last time this dataset was looked at - and the last column was in bold - or is in red or whatever - and so excel files - in that sense - are much more featureful than a csv file - the csv files are handy because they just show you raw data - theres no hidden gotchas or anything like that [2.5]

In [3]:
with open("dataset/iris.csv","r") as table:
    for nEachRow in table:
        print(nEachRow,end="")

sepal_length,sepal_width,petal_length,petal_width,species
5.1,3.5,1.4,0.2,setosa
4.9,3,1.4,0.2,setosa
4.7,3.2,1.3,0.2,setosa
4.6,3.1,1.5,0.2,setosa
5,3.6,1.4,0.2,setosa
5.4,3.9,1.7,0.4,setosa
4.6,3.4,1.4,0.3,setosa
5,3.4,1.5,0.2,setosa
4.4,2.9,1.4,0.2,setosa
4.9,3.1,1.5,0.1,setosa
5.4,3.7,1.5,0.2,setosa
4.8,3.4,1.6,0.2,setosa
4.8,3,1.4,0.1,setosa
4.3,3,1.1,0.1,setosa
5.8,4,1.2,0.2,setosa
5.7,4.4,1.5,0.4,setosa
5.4,3.9,1.3,0.4,setosa
5.1,3.5,1.4,0.3,setosa
5.7,3.8,1.7,0.3,setosa
5.1,3.8,1.5,0.3,setosa
5.4,3.4,1.7,0.2,setosa
5.1,3.7,1.5,0.4,setosa
4.6,3.6,1,0.2,setosa
5.1,3.3,1.7,0.5,setosa
4.8,3.4,1.9,0.2,setosa
5,3,1.6,0.2,setosa
5,3.4,1.6,0.4,setosa
5.2,3.5,1.5,0.2,setosa
5.2,3.4,1.4,0.2,setosa
4.7,3.2,1.6,0.2,setosa
4.8,3.1,1.6,0.2,setosa
5.4,3.4,1.5,0.4,setosa
5.2,4.1,1.5,0.1,setosa
5.5,4.2,1.4,0.2,setosa
4.9,3.1,1.5,0.1,setosa
5,3.2,1.2,0.2,setosa
5.5,3.5,1.3,0.2,setosa
4.9,3.1,1.5,0.1,setosa
4.4,3,1.3,0.2,setosa
5.1,3.4,1.5,0.2,setosa
5,3.5,1.3,0.3,setosa
4.5,2.3,1.3,0.3,setosa
4.4,3.2,1.3,0.2,setosa
5,3.5,1.6,0.6,setosa
5.1,3.8,1.9,0.4,setosa
4.8,3,1.4,0.3,setosa
5.1,3.8,1.6,0.2,setosa
4.6,3.2,1.4,0.2,setosa
5.3,3.7,1.5,0.2,setosa
5,3.3,1.4,0.2,setosa
7,3.2,4.7,1.4,versicolor
6.4,3.2,4.5,1.5,versicolor
6.9,3.1,4.9,1.5,versicolor
5.5,2.3,4,1.3,versicolor
6.5,2.8,4.6,1.5,versicolor
5.7,2.8,4.5,1.3,versicolor
6.3,3.3,4.7,1.6,versicolor
4.9,2.4,3.3,1,versicolor
6.6,2.9,4.6,1.3,versicolor
5.2,2.7,3.9,1.4,versicolor
5,2,3.5,1,versicolor
5.9,3,4.2,1.5,versicolor
6,2.2,4,1,versicolor
6.1,2.9,4.7,1.4,versicolor
5.6,2.9,3.6,1.3,versicolor
6.7,3.1,4.4,1.4,versicolor
5.6,3,4.5,1.5,versicolor
5.8,2.7,4.1,1,versicolor
6.2,2.2,4.5,1.5,versicolor
5.6,2.5,3.9,1.1,versicolor
5.9,3.2,4.8,1.8,versicolor
6.1,2.8,4,1.3,versicolor
6.3,2.5,4.9,1.5,versicolor
6.1,2.8,4.7,1.2,versicolor
6.4,2.9,4.3,1.3,versicolor
6.6,3,4.4,1.4,versicolor
6.8,2.8,4.8,1.4,versicolor
6.7,3,5,1.7,versicolor
6,2.9,4.5,1.5,versicolor
5.7,2.6,3.5,1,versicolor
5.5,2.4,3.8,1.1,versicolor
5.5,2.4,3.7,1,versicolor
5.8,2.7,3.9,1.2,versicolor
6,2.7,5.1,1.6,versicolor
5.4,3,4.5,1.5,versicolor
6,3.4,4.5,1.6,versicolor
6.7,3.1,4.7,1.5,versicolor
6.3,2.3,4.4,1.3,versicolor
5.6,3,4.1,1.3,versicolor
5.5,2.5,4,1.3,versicolor
5.5,2.6,4.4,1.2,versicolor
6.1,3,4.6,1.4,versicolor
5.8,2.6,4,1.2,versicolor
5,2.3,3.3,1,versicolor
5.6,2.7,4.2,1.3,versicolor
5.7,3,4.2,1.2,versicolor
5.7,2.9,4.2,1.3,versicolor
6.2,2.9,4.3,1.3,versicolor
5.1,2.5,3,1.1,versicolor
5.7,2.8,4.1,1.3,versicolor
6.3,3.3,6,2.5,virginica
5.8,2.7,5.1,1.9,virginica
7.1,3,5.9,2.1,virginica
6.3,2.9,5.6,1.8,virginica
6.5,3,5.8,2.2,virginica
7.6,3,6.6,2.1,virginica
4.9,2.5,4.5,1.7,virginica
7.3,2.9,6.3,1.8,virginica
6.7,2.5,5.8,1.8,virginica
7.2,3.6,6.1,2.5,virginica
6.5,3.2,5.1,2,virginica
6.4,2.7,5.3,1.9,virginica
6.8,3,5.5,2.1,virginica
5.7,2.5,5,2,virginica
5.8,2.8,5.1,2.4,virginica
6.4,3.2,5.3,2.3,virginica
6.5,3,5.5,1.8,virginica
7.7,3.8,6.7,2.2,virginica
7.7,2.6,6.9,2.3,virginica
6,2.2,5,1.5,virginica
6.9,3.2,5.7,2.3,virginica
5.6,2.8,4.9,2,virginica
7.7,2.8,6.7,2,virginica
6.3,2.7,4.9,1.8,virginica
6.7,3.3,5.7,2.1,virginica
7.2,3.2,6,1.8,virginica
6.2,2.8,4.8,1.8,virginica
6.1,3,4.9,1.8,virginica
6.4,2.8,5.6,2.1,virginica
7.2,3,5.8,1.6,virginica
7.4,2.8,6.1,1.9,virginica
7.9,3.8,6.4,2,virginica
6.4,2.8,5.6,2.2,virginica
6.3,2.8,5.1,1.5,virginica
6.1,2.6,5.6,1.4,virginica
7.7,3,6.1,2.3,virginica
6.3,3.4,5.6,2.4,virginica
6.4,3.1,5.5,1.8,virginica
6,3,4.8,1.8,virginica
6.9,3.1,5.4,2.1,virginica
6.7,3.1,5.6,2.4,virginica
6.9,3.1,5.1,2.3,virginica
5.8,2.7,5.1,1.9,virginica
6.8,3.2,5.9,2.3,virginica
6.7,3.3,5.7,2.5,virginica
6.7,3,5.2,2.3,virginica
6.3,2.5,5,1.9,virginica
6.5,3,5.2,2,virginica
6.2,3.4,5.4,2.3,virginica
5.9,3,5.1,1.8,virginica

- when pandas loads url in - it has to make a series of sorts of guesses - tries to do the reasonable thing - it looks at the first few rows here or something like that - and it goes - the first piece of data in each row - seems to be a number - and that number typically has a decimal place - so it goes down through the first few rows looks at the first piece of data and each row - ie the value in the first column in each row and goes out - they all look like numbers - make a number column - or a floating point column - does the same for the next couple of columns - it goes down through the first few rows and figures out - they seem to all contain numbers - make all those rows numbers - but when it comes to the fifth column - it goes - well - these things are not numbers - they seem to be strings - just characters in the roman alphabet - and so am i going to treat that column as a string column - so its going to be distinct from the other columns [2.5]

- so thats basically what a dataframe is in pandas - just like an excel table or a database table - and the different columns have different types sometimes - and you also typically have an index sort of column thats tagged on - because i did not tell pandas what type of index to use - you might use a date or a time index - your dataset might contain sort of an index column to begin with - so you can tell pandas to use one of your columns as the index as long as its sort of reasonable - all the values are unique and all of that - but if you do not - pandas will just number the rows from zero to whatever - however long your dataset is - and that becomes important when you start taking subselections of this data - so lets say you say give me rows from 20 to 29 - and then the index becomes really important because all of a sudden - it does not go from zero to one to two etc - it goes - 20 - 21 - 22 - 23 - in the new DataFrame subselection that you are making [2.5]

- so thats really it - theres no hidden bells or whistles to a DataFrame - it just is what it is - if you are wondering why you do not just use numpy for this - like numpy can deal with the two dimensional arrays as well - the key thing with numpy is that numpy is really efficient at dealing with 2d arrays - but 2d arrays where every element in the 2d array - irrespective of where it is and what column or what row - numpy likes all of the data in one array to be of the same type - so it has to be all floats - or all strings or all whatever - so in this case - mixing a string column with four floating point columns - so i need to use something like pandas - or else going to have a headache if i try to use something like numpy - so thats reading datasets in with pandas - you can see its very simple pandas makes your life easy - and it knows how to interact nicely with jupiter so that it prints them out nicely [2.5]

In [4]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

-  making subselections from a DataFrame in pandas - so there are a number of different issues in making subselections that would have to look at - just refresh memory here - we have imported pandas [2.5]

```python
import pandas as pd
```

- we have read a csv file from a url - githubusercontent.copm - it is just a way into github - somebody has the iris dataset up there [2.5]

```python
df=pd.read_csv("https://raw.githubusercontent.com/uiuc-cse/data-fa14/gh-pages/data/iris.csv")
```

- if i open up the iris dataset you will see that it contains five columns - the first row of the file has column names in it - now - some csv files have that - some csv files do not - so pandas on the fly when its importing a csv file will actually decide whether it thinks the first row was a header row or not - and much like excel will - so it does that by kind of looking at the first row and seeing if its significantly different from the other rows - - so the other rows all have numbers for the first four values - and then a string - whereas the first row has all strings - five strings separated by commas - so pandas will go - there must be column names - and we will make them the names of the columns [2.5]

```
sepal_length,sepal_width,petal_length,petal_width,species
```

- theres no labels like the labels for the columns for the rows - and so would call this probably the first row of the file - or the zero row - depending on whether you start counting from one or zero - and even though its kind of the second row of the file - because we ignore the header row - but theres no index column here in the csv file - so really - all we are relying on there is the position of the row in the file - the first row [2.5]

```
5.1,3.5,1.4,0.2,setosa
```

- so theres two separate ideas there that pandas will expose to us - first of all - columns and rows can have sort of labels - so the label for the first column - sepal_length - the label for the second column - sepal_width - really should call them the zero column and the first column because thats the way programming languages like to index from zero - so the zero column - sepal_length [2.5]

- the rows do not have labels - but pandas will invent labels for us in that case - sometimes you will read a dataset and they will have labels - they might be a date - timestamp - one of the columns might have that and that might actually be sort of an index into the dataset - or might be some sort of time series data - other times the dataset will actually contain just a column of numbers - 0 - 1 - 2 - etc - all the way down - where that column is actually giving us the labels for the rows [2.5]

- the columns likewise have a position to them - so theres two separate ideas - sometimes some columns have labels - some rows have labels - and columns and rows - definitely have a position within the file - pandas will let us use both - if there are no labels for the rows or for the columns - pandas will give us labels and it will maintain the position of things within the DataFrame [2.5]

- so the dataset is loaded into pandas - and you will see that - pandas identified the first row as the header row - and now these columns all have labels which are the strings that were in the first row of the csv file - iris.csv - could call it the first column in the file - sepel_length - is the zeroth column in the file [2.5]

In [5]:
df

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

- the rows did not have labels - so pandas invented labels for us - it starts with - 0 - 1 - 2 - etc - so what pandas has done there - they happen to correspond to the position of the row in the DataFrame - but they are distinct - these are actually treated by as in pandas as labels as opposed to positions - thats important - because when we take subselections - if we take a subselection of the rows - lets say we select all of these rows in a subselection [2.5]

```
2 	4.7 	3.2 	1.3 	0.2 	setosa
3 	4.6 	3.1 	1.5 	0.2 	setosa
4 	5.0 	3.6 	1.4 	0.2 	setosa
```

- it will maintain the label of the first row as - ``2``  - even though in the subselection - it will actually be the row at position zero in the subselection - so pandas - when we do not tell what the row label should be - it invents a row labels and it just does the sensible thing - labels the first - zero - second - one - familiar with databases - you might call that an auto incrementing primary key - excel has this idea as well - labels - the rows - 0 - 1 - 2 - etc - labelled columns using - A - B - C - etc - so that you can say - give me the data point in cell - ``A5`` - and that will be the data that will be the value in column - A - row - 5 [2.5]

- do not suggest you do in pandas - can get at various columns and rows in pandas using the default square bracket notation in python - name - df - and then square brackets - putting a string in the middle of the square brackets either in single or double quotes - if that string matches a label - for instance - the string - ``species`` - is the label of a column called species - is one of the columns in the DataFrame - so it will give us back that column from the DataFrame - now technically - what its returning to us here is a data series - which is sort of an internal structure in pandas distinct from a DataFrame - are very closely related - you might notice that this is not formatted as nicely as the rows earlier [2.5]

- when we asked for this data series - ``df["species"]`` - subselection of the DataFrame back - you will notice that the index labels - the row labels - thats included in whats returned has maintained the index of whats returned [2.5]

In [6]:
df["species"]

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

- you can ask for two or more columns back using column labels by providing an array of strings matching column names - will get back - petal_length - species - again it will maintain the index [2.5]

In [7]:
df[["petal_length","species"]]

     petal_length    species
0             1.4     setosa
1             1.4     setosa
2             1.3     setosa
3             1.5     setosa
4             1.4     setosa
..            ...        ...
145           5.2  virginica
146           5.0  virginica
147           5.2  virginica
148           5.4  virginica
149           5.1  virginica

[150 rows x 2 columns]

- pass - integers - ``2:6`` - python lists - this is a way of saying - give me the rows from two up to but not including six - get what you might expect here - rows - 2 - 3 - 4 - 5 - do not like this because earlier we were using the square bracket notation on - name - df - to get columns back - all of a sudden we are getting rows back because of the type of thing that we passed into the square bracket notation [2.5]

In [8]:
df[2:6]

   sepal_length  sepal_width  petal_length  petal_width species
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa

- you could do all sorts of funny things like - name - df - ``[petal_length,species]`` - one list in the square brackets - and then more square brackets - ``[2:6]`` - you get the rows two to six - and not including six - and you only get the columns back that you have listed here - petal_length - and species - so you are getting a subselection of the original DataFrame - and you can see that the index is maintained here - so getting the indexes - 2 - 3 - 4 - 5 [2.5]

In [9]:
df[["petal_length","species"]][2:6]

   petal_length species
2           1.3  setosa
3           1.5  setosa
4           1.4  setosa
5           1.7  setosa

- typically when you are using pandas - you want to avoid using this notation - its indexing straight off the DataFrame - so name - df - then straight away with square brackets - there are a number of different reasons - technical reasons - but they will trip you up if you are not careful [2.5]

- one of the big problems people have when they access their DataFrame using this sort of notation is that they go in and try and change values in their DataFrame - so lets say in your DataFrame - you want to take the average - sepal_length - within the dataset away from each of the individual values - common operation that you do - it means that then when you take the average of the column - the average comes out as zero - because you are effectively taking the average away from every value in the column - if you use this notation to do it - you will find that your values do not actually change in the DataFrame - and its to do with in the background - sometimes pandas will take a - copy - of the DataFrame when you ask it to do a subselection - and sometimes it will actually take the DataFrame - and the real problem here is the double square brackets after the - df - so because of the technical issues surrounding that - pandas provides for every DataFrame two ways into your DataFrame - methods - loc - iloc - both use the square bracket notation [2.5]

- before proceeding its important to understand - our column labels are totally different to the positions of the columns - column labels are strings - the positions are the zero column - the first column - whatever - so they are distinct [2.5]

```
sepal_length sepal_width petal_length petal_width species
```

- in our case - because we did not supply row labels - we have actually got rows labels that happen to correspond in our DataFrame to the position - so this row - has labelled zero - but it also has position zero in the DataFrame - but you should know that this is a label - whereas the position is something separate [2.5]

```
0 	5.1 	3.5 	1.4 	0.2 	setosa
```

- method - loc - uses labels - so the labels of the DataFrame - sepal_length - sepal_width - petal_length - petal_width - species - they are the column labels - and it uses the row labels - that is whatever the index is [2.5]

- can index off - loc - using your square bracket notation - and typically you only have one set of square brackets after - ``.loc`` - although you might have square brackets within that square brackets - so if i say two colon six here - you might notice theres a bit of a funny situation - getting back rows - 2 - 3 - 4 - 5 - and ``six`` - typically - when we put in - ``2:6`` - we do not get the sixth row back - does this because its treating it as a label - not a number - so its a quirk of - loc - because its dealing with labels - it does not really think of the sixth row as the last row - and fifth as the row - ``5`` - but as the row labelled five - it just says - you asked me for all the rows to with labels between two and six - it understands that they are integers - suppose on some level it gives you everything back - it does not discriminate between whether it should include the last row or not [2.5]

In [10]:
# package pandas - subpackage core - module indexing - object IndexingMixin - method loc - call
df.loc[2:6]

   sepal_length  sepal_width  petal_length  petal_width species
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
6           4.6          3.4           1.4          0.3  setosa

- if you want a column back - in the square brackets - you put a colon and then a comma - then a list of - or - a single label for columns - so here - just ask for the species column back - and you can see - i just got the species column back in a data series - and the indexes included - the colon means everything - all of the rows - and then the comma means - now move on to the columns sought - species [2.5]

In [11]:
# package pandas - subpackage core - module indexing - object IndexingMixin - method loc - call
df.loc[:,"species"]

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

- asking for all of the rows - again - with the colon - and say - the two columns - sepal_length - species

In [12]:
# package pandas - subpackage core - module indexing - object IndexingMixin - method loc - call
df.loc[:,["sepal_length","species"]]

     sepal_length    species
0             5.1     setosa
1             4.9     setosa
2             4.7     setosa
3             4.6     setosa
4             5.0     setosa
..            ...        ...
145           6.7  virginica
146           6.3  virginica
147           6.5  virginica
148           6.2  virginica
149           5.9  virginica

[150 rows x 2 columns]

- lets say i want rows - two to six back on - sepal_length - species - so the notation is - df - dot - method - loc - and then square brackets - some list of row labels - ``2:6`` - comma - some list of column labels - so heres a list - natural list - containing the names - returned - rows two to six back - the labels of the rows - and the columns returns are - sepal_length - species - and it obviously includes the index - now - heres where saying that the index is important - this in its own right - this is a dataframe [2.5]

```python
df.loc[2:6,["sepal_length","species"]]
```

- it happens to be a DataFrame that i created by taking a subselection of another DataFrame [2.5]

- the index - the label for the first row is now - ``2`` - because its been inherited from the old DataFrame - but its position in the new DataFrame is row zero - so now its labelled as two - but its position to zero - and likewise - the next row label here is - ``3`` but its position is one - so thats accessing rows and columns by their labels [2.5]

In [13]:
# package pandas - subpackage core - module indexing - object IndexingMixin - method loc - call
df.loc[2:6,["sepal_length","species"]]

   sepal_length species
2           4.7  setosa
3           4.6  setosa
4           5.0  setosa
5           5.4  setosa
6           4.6  setosa

- method - iloc - uses position - so if you want the zeroth column - or the first column or the second column - or you want the zeroth row or the first row or the second row or whatever - or some subselection of that [2.5]

- if you want to access by position - so lets say i want from the original dataframe - the row in position - ``2`` - which should be the third row - gives me again a - data series - but you can think of it as a DataFrame - it will give me the row two back - it will print out almost like its transposed - but thats because there is no real orientation to it in pandas mind - so its saying - sepal_length - 4.7 - sepal_width - 3.2 - and so on - for the row in position - ``2`` - two is actually the third row because position starts at zero - produce the single number at the start in the square brackets in - method - iloc - you will get a row back [2.5]

In [14]:
# package pandas - subpackage core - module indexing - object IndexingMixin - method iloc - call
df.iloc[2]

sepal_length       4.7
sepal_width        3.2
petal_length       1.3
petal_width        0.2
species         setosa
Name: 2, dtype: object

- if you want lets say rows two to four - this will include rows two and three but not four - and you only want the values in the first column - note indexing here from zero - so its actually sort of the second column in the file - because the first column is index zero - this is index one we are asking first - so its technically i suppose you could say its the second column in the file - rows two to four - thats the position - so thats going to be the third and fourth rows from the original DataFrame - and then the column we want is column index one - which is the second column [2.5]

In [15]:
# package pandas - subpackage core - module indexing - object IndexingMixin - method iloc - call
df.iloc[2:4,1]

2    3.2
3    3.1
Name: sepal_width, dtype: float64

- if you want to say get all of the rows in an index or position one up to position 10 - but you only want every second one in between - you can do - ``1:10:2`` - and there will be the rows positioned at - 1 - 3 - 5 - 7 - 9 [2.5]

In [16]:
# package pandas - subpackage core - module indexing - object IndexingMixin - method iloc - call
df.iloc[1:10:2]

   sepal_length  sepal_width  petal_length  petal_width species
1           4.9          3.0           1.4          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
5           5.4          3.9           1.7          0.4  setosa
7           5.0          3.4           1.5          0.2  setosa
9           4.9          3.1           1.5          0.1  setosa

- want to get a single individual value in a DataFrame - sometimes its quicker to use - method - at - can get the value at row label three - and column label species - and you will see that its a setosa - can use for positions as well - its a quicker view into your array [2.3]

In [17]:
# package pandas - subpackage core - module indexing - object IndexingMixin - method at - call
df.at[3,"species"]

'setosa'

- summary - method - loc - access by label - method - iloc - access by position [2.5]

***
# END